body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a202c;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif;
  line-height: 1.5;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif;
  line-height: 1.5;
}

.listing-container {
  min-height: 100vh;
  --bg-opacity: 1;
  background-color: #1a202c;
  background-color: rgba(26, 32, 44, var(--bg-opacity));
}
.listing-section {
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
}

.listing-text {
  padding-right: 12rem;
}
.listing-text h1 {
  font-size: 3rem;
  text-align: left;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  padding-top: 1.5rem;
  font-weight: 700;
}
.flex-1 {
  flex: 1 1 0%;
}
.listing-section img {
  width: 100%;
}

.input-container {
  margin-top: 2rem;
}

.input-container input {
  font-size: 0.875rem;
}
.input-container
  .ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child {
  left: 17px;
  top: -6px;
}

.input-container
  .ant-input-search
  .ant-input-group
  .ant-input-affix-wrapper:not(:last-child) {
  border-radius: 0.25rem !important;
}
.input-container
  .ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button {
  flex: 0 1 auto;
  --bg-opacity: 1;
  background-color: #3182ce;
}
.layout-container {
  margin-top: 6rem;
}
.layout-container .ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub,
.ant-layout-sider-children {
  background-color: #2d3748;
}

.layout-container .ant-layout-sider {
  min-width: 300px !important;
  width: 300px !important;
  margin-right: 5% !important;
}
.layout-container .ant-layout {
  background-color: rgba(26, 32, 44, var(--bg-opacity));
}
.filters {
  width: 77%;
  margin: 30px auto;
}
.category-filter h2,
.price-filter h2 {
  color: white;
  margin-top: 3rem;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  font-weight: bold;
}
.checkbox-group h2 {
  color: white;
  margin-top: 3rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
.category-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-name h3 {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  color: #fff;
  margin: 15px auto;
}

.price-filter .ant-input-number {
  width: 100%;
  margin: 15px auto;
  padding: 0.5rem;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
.separator {
  --text-opacity: 1;
  color: rgba(74, 85, 104, var(--text-opacity));
  text-align: center;
}

.checkbox-group .ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0;
}

.category-name:hover {
  border-left-width: 4px;
}
.product-card-container {
  margin-top: 0;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}
.product-card {
  width: 17%;
  padding: 1rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  background-color: rgba(45, 55, 72, var(--bg-opacity));
  --bg-opacity: 1;
  color: #fff;
}
.clear-fix p {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.75rem;
  float: right;
  --border-opacity: 1;
  border: 1px solid #fff;
  color: #fff;
}
.clear-fix::after {
  content: "";
  display: table;
  clear: both;
}
.image-con {
  height: 8rem;
  overflow: hidden;
}

.image-con img {
  object-fit: cover;
  margin: auto;
  height: 100%;
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

.product-name {
  font-size: 1rem;
  white-space: nowrap;
  color: #fff;
  font-weight: bold;
  margin-bottom: 0;
}

.unlocked p {
  font-size: 0.875rem;
  display: block;
  white-space: normal;
  font-weight: bold;
  margin-bottom: 0;
}

.unit-price {
  margin-top: 0.5rem;
  color: #fff;
}
.unit-price p {
  font-size: 0.75rem;
  white-space: normal;
  margin: 0;
  font-weight: bold;
}
.unit-price h3 {
  font-size: 1.25rem;
  color: #fff;
  font-weight: bold;
  white-space: normal;
  margin: 0;
}
.quantity {
  font-size: 0.75rem;
  white-space: normal;
  font-weight: bold;
}
.btn-con {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
button {
  font-size: 0.875rem;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-top: 1rem;
  font-weight: 700;
  border-radius: 0.25rem;
  border-color: #3182ce;
  background-color: rgba(49, 130, 206, var(--bg-opacity));
}
.center {
  text-align: center;
  align-items: center;
}
.active,
.category-list:hover {
  border-left-width: 4px;
  --bg-opacity: 1;
  background-color: #718096;
  background-color: rgba(113, 128, 150, var(--bg-opacity));
}

.checkRadioContainer > input {
  visibility: hidden;
}

.checkRadioContainer {
  max-width: 10em;
}

.options {
  width: 80%;
  margin: auto;
}
div.options > label {
  display: block;
  margin: 0 0 0 -10px;
  padding: 0 0 20px 0;
  height: 20px;
  width: 150px;
  margin-bottom: 20px;
  font-size: 0.875rem;
  font-weight: 600;
  color: #fff;
}
.options input {
  display: none;
}
div.options > label > img {
  display: inline-block;
  padding: 0px;
  height: 16px;
  width: 16px;
  background: none;
  margin-right: 10px;
}

div.options > label > input:checked + img {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 19px 11px;
}

div.options > label > input:checked {
  background-color: black;
}

.ant-notification-notice {
  background-color: #3182ce !important;
}

.ant-notification-notice-message {
  background-color: #3182ce;
  font-size: 12px;
  padding: 5% 8%;
  color: #fff !important;
}

.layout-container .ant-pagination-total-text {
  margin-right: 45%;
}

.layout-container.ant-pagination-options {
  display: none;
}

.ant-pagination-options {
  display: none !important;
}
.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child {
  left: -1px;
  padding: 0;
  border: 0;
}
.ant-input-group-addon {
  background-color: #3182ce;
}

.layout-container .ant-pagination-total-text {
  margin-right: 45%;
  color: #fff;
  font-size: 16px;
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    background-color: #1a202c;
  }
  .product-card {
    width: 40%;
  }
  .listing-text {
    padding-right: 0;
  }

  .listing-text h1 {
    font-size: 2rem;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {
  body {
    background-color: #1a202c;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .listing-section {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
  .listing-section h1 {
    text-align: center;
    font-size: 1.5rem;
    width: 69%;
    margin: auto;
  }
  .listing-text {
    padding-right: 0;
  }
  .input-container .ant-input-group-wrapper {
    width: 90%;
  }
  .input-container .ant-input-group {
    margin: auto;

    width: 90%;
  }
  .device {
    width: 60%;
    margin: auto;
    margin-top: 30px;
  }
  body {
    background-color: #1a202c;
  }
  .ant-layout {
    position: relative;
    overflow: hidden;
    min-width: 100vw;
  }
  .layout-container .ant-layout-sider {
    display: none;
  }
  .product-card {
    width: 40%;
    margin: 11px;
  }
  .product-name {
    white-space: normal;
  }
}

@media only screen and (min-device-width: 200px) and (max-device-width: 320px) {
}
