body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a202c;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif;
  line-height: 1.5;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
}
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif;
  line-height: 1.5;
}

.listing-container {
  min-height: 100vh;
  --bg-opacity: 1;
  background-color: #1a202c;
  background-color: rgba(26, 32, 44, var(--bg-opacity));
}
.listing-section {
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
}

.listing-text {
  padding-right: 12rem;
}
.listing-text h1 {
  font-size: 3rem;
  text-align: left;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  padding-top: 1.5rem;
  font-weight: 700;
}
.flex-1 {
  flex: 1 1 0%;
}
.listing-section img {
  width: 100%;
}

.input-container {
  margin-top: 2rem;
}

.input-container input {
  font-size: 0.875rem;
}
.input-container
  .ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child {
  left: 17px;
}

.input-container
  .ant-input-search
  .ant-input-group
  .ant-input-affix-wrapper:not(:last-child) {
  border-radius: 0.25rem !important;
}
.input-container
  .ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button {
  flex: 0 1 auto;
  --bg-opacity: 1;
  background-color: #3182ce;
}
.layout-container {
  margin-top: 6rem;
}
.layout-container .ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub,
.ant-layout-sider-children {
  background-color: #2d3748;
}
/* .layout-container .ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  background-color: #2d3748;
} */

.layout-container .ant-layout-sider {
  min-width: 300px !important;
  width: 300px !important;
  margin-right: 5% !important;
}
.layout-container .ant-layout {
  background-color: rgba(26, 32, 44, var(--bg-opacity));
}
.filters {
  width: 77%;
  margin: 30px auto;
}
.category-filter h2,
.price-filter h2 {
  color: white;
  margin-top: 3rem;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  font-weight: bold;
}
.checkbox-group h2 {
  color: white;
  margin-top: 3rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
.category-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 15px auto; */
}

.category-name h3 {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  color: #fff;
  margin: 15px auto;
}

.price-filter .ant-input-number {
  width: 100%;
  margin: 15px auto;
  padding: 0.5rem;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
.separator {
  --text-opacity: 1;
  /* color: #4a5568; */
  color: rgba(74, 85, 104, var(--text-opacity));
  text-align: center;
}

/* .checkbox-group .ant-row {
  display: block;
  /* flex-flow: row wrap;*/
/* } */
/* .checkbox-group .ant-checkbox-wrapper {
  display: flex;
} */
.checkbox-group .ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0;
}
*/

/* .checkbox-group .ant-checkbox-inner {
  background-color: #2d3748;
  border-radius: 2px;
  border: 2px solid #1a202c; */
/* width: 20px;
  height: 20px; */
/* } */
/* .checkbox-group .ant-checkbox-checked .ant-checkbox-inner { */
/* background-color: #1890ff; */
/* border-color: none;

  color: #fff;
  background-color: #1a202c;
}

.checkbox-group .ant-checkbox + span {
  font-size: 0.875rem;
  color: #fff;
  font-weight: 600;
} */
.category-name:hover {
  border-left-width: 4px;
}
.product-card-container {
  margin-top: 0;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}
.product-card {
  width: 17%;
  padding: 1rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  background-color: rgba(45, 55, 72, var(--bg-opacity));
  --bg-opacity: 1;
  color: #fff;
}
.clear-fix p {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.75rem;
  float: right;
  --border-opacity: 1;
  border: 1px solid #fff;
  color: #fff;
}
.clear-fix::after {
  content: "";
  display: table;
  clear: both;
}
.image-con {
  height: 8rem;
  overflow: hidden;
}

.image-con img {
  object-fit: cover;
  margin: auto;
  height: 100%;
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

.product-name {
  font-size: 1rem;
  white-space: nowrap;
  color: #fff;
  font-weight: bold;
  margin-bottom: 0;
}

.unlocked p {
  font-size: 0.875rem;
  display: block;
  white-space: normal;
  font-weight: bold;
  margin-bottom: 0;
}

.unit-price {
  margin-top: 0.5rem;
  color: #fff;
}
.unit-price p {
  font-size: 0.75rem;
  white-space: normal;
  margin: 0;
  font-weight: bold;
}
.unit-price h3 {
  font-size: 1.25rem;
  color: #fff;
  font-weight: bold;
  white-space: normal;
  margin: 0;
}
.quantity {
  font-size: 0.75rem;
  white-space: normal;
  font-weight: bold;
}
.btn-con {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
button {
  font-size: 0.875rem;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-top: 1rem;
  font-weight: 700;
  border-radius: 0.25rem;
  border-color: #3182ce;
  background-color: rgba(49, 130, 206, var(--bg-opacity));
}
.center {
  text-align: center;
  align-items: center;
}
.active,
.category-list:hover {
  border-left-width: 4px;
  --bg-opacity: 1;
  background-color: #718096;
  background-color: rgba(113, 128, 150, var(--bg-opacity));
}

.checkRadioContainer > input {
  visibility: hidden;
}

.checkRadioContainer {
  max-width: 10em;
}
/* div.checkRadioContainer > label {
  display: block;
  border: 2px solid grey;
  margin-bottom: -2px;
  cursor: pointer;
} */
.options {
  width: 80%;
  margin: auto;
}
div.options > label {
  display: block;
  margin: 0 0 0 -10px;
  padding: 0 0 20px 0;
  height: 20px;
  width: 150px;
  margin-bottom: 20px;
  font-size: 0.875rem;
  font-weight: 600;
  color: #fff;
}
.options input {
  display: none;
}
div.options > label > img {
  display: inline-block;
  padding: 0px;
  height: 16px;
  width: 16px;
  background: none;
  margin-right: 10px;
}

div.options > label > input:checked + img {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 19px 11px;
}

div.options > label > input:checked {
  background-color: black;
}
/* .ant-notification-info {
  /* display: none; */
/* background-color: #3182ce; */
/* } */
/* .ant-notification {
  background-color: #3182ce;
}  */
.ant-notification-notice {
  background-color: #3182ce !important;
}

.ant-notification-notice-message {
  background-color: #3182ce;
  font-size: 12px;
  padding: 5% 8%;
  color: #fff !important;
}
.anticon svg {
}

.layout-container .ant-pagination-total-text {
  margin-right: 54%;
}

.layout-container.ant-pagination-options {
  display: none;
}

.ant-pagination-options {
  display: none !important;
}
